<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
  </head>
  <body>

    <h1>Dashboard</h1>
    {% if user %}
    <h1>Bem-vindo(a), {{ user[1] }}!</h1>
    <h2>Saldo Atual: R$ {{ saldo_atual }}</h2>
    <p>{{ user[1] }}, para cadastrar as receitas e despesas, antes, é necessário que informe o saldo.</p>

    <button onclick="toggleForm('saldo')">Cadastrar Saldo</button>
    <form method="POST" action="{{ url_for('dashboard') }}" id="form-saldo" style="display:none">
        <label>Data:</label>
        <input type="date" name="data_movimento" required><br>
        
        <label>Banco:</label>
        <input type="text" name="banco" required><br>
        
        <label>Saldo:</label>
        <input type="float" name="saldo" required><br>
        
        <button type="submit" name="informar_saldo">Cadastrar</button>
    </form>

    <button onclick="toggleForm('receita')">Cadastrar nova receita</button>
    <form method="POST" action="{{ url_for('dashboard') }}" id="form-receita" style="display:none">
        <label>Banco:</label>
        <input type="text" name="banco" required><br>

        <label>Data de recebimento:</label>
        <input type="date" name="data_movimento" required><br>
        
        <label>Nome da receita:</label>
        <input type="text" name="nome_movimento" required><br>
        
        <label>Tipo de receita:</label>
        <input type="text" name="tipo_movimento" required><br>
        
        <label>Valor da receita:</label>
        <input type="float" name="valor_receita" required><br>
        
        <button type="submit" name="cadastrar_receita">Cadastrar</button>
    </form>

    <button onclick="toggleForm('despesa')">Cadastrar nova despesa</button>
    <form method="POST" action="{{ url_for('dashboard') }}" id="form-despesa" style="display:none">

        <label>Banco:</label>
        <input type="text" name="banco" required><br>      
        
        <label>Data de pagamento:</label>
        <input type="date" name="data_movimento" required><br>
        
        <label>Nome da despesa:</label>
        <input type="text" name="nome_movimento" required><br>
        
        <label>Tipo de despesa:</label>
        <input type="text" name="tipo_movimento" required><br>
        
        <label>Valor da despesa:</label>
        <input type="float" name="valor_despesa" required><br>
        
        <button type="submit" name="cadastrar_despesa">Cadastrar</button>
    </form>
    
    <button onclick="toggleForm('orçamento')">Cadastrar Orçamento</button>
    <form method="POST" action="{{ url_for('dashboard') }}" id="form-orçamento" style="display:none">
        
        <label>Data Prevista:</label>
        <input type="date" name="data_prevista" required><br>
        
        <label>Nomeação Orçamento:</label>
        <input type="text" name="nome_movimento" required><br>
        
        <label>Tipo: (Receita/Despesa)</label>
        <input type="text" name="tipo_movimento" required><br>
        
        <label>Valor Orçamento:</label>
        <input type="float" name="orçamento_previsto" required><br>
        
        <button type="submit" name="cadastrar_orçamento">Cadastrar</button>
    </form>


    <script>
      function toggleForm(formName) {
        var form = document.getElementById("form-" + formName);
        if (form.style.display === "none") {
          form.style.display = "block";
        } else {
          form.style.display = "none";
        }
      }
    </script>
    

    <ul>       
      <a class="link_graficos" href="/graficosxxx">Acessar Gráficos</a>
      <br><br><br>     
    </ul>


    {% else %}
    <p>Você não está cadastrado.</p>
    <!-- Exibe uma mensagem caso o usuário não esteja logado -->
    {% endif %}
  </body>
</html>
