<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sair</title>
  </head>
  <body>
    <h1>Cadastrar</h1>
    {% if error %}
    <!--Exibe uma mensagem de erro caso haja algum erro-->
    <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form action="/signup" method="post">
      <!--Cria um campo de entrada de texto para o nome-->
      <label for="name">Nome:</label>
      <input type="text" id="name" name="name"><br><br>
      <label for="email">E-mail:</label>
       <!--Cria um campo de entrada de texto para o email-->
      <input type="email" id="email" name="email"><br><br>
      <!--Cria um campo de entrada de texto para a senha-->
      <label for="password">Senha:</label>
      <input type="password" id="password" name="password"><br><br>
      <!--Cria um botão de envio do formulário-->
      <input type="submit" value="Cadastrar">
    </form>
  </body>
</html>
